@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import "bourbon";
$mainFont: "Roboto", sans-serif;

body {
	font-family: $mainFont;
	@include position(relative);
}

* {
	margin: 0;
	padding: 0;
}