/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$contacts-name: 'contacts';
$contacts-x: 40px;
$contacts-y: 50px;
$contacts-offset-x: -40px;
$contacts-offset-y: -50px;
$contacts-width: 40px;
$contacts-height: 40px;
$contacts-total-width: 157px;
$contacts-total-height: 134px;
$contacts-image: 'sprite.png';
$contacts: (40px, 50px, -40px, -50px, 40px, 40px, 157px, 134px, 'sprite.png', 'contacts', );
$favourite-icon-name: 'favouriteIcon';
$favourite-icon-x: 60px;
$favourite-icon-y: 0px;
$favourite-icon-offset-x: -60px;
$favourite-icon-offset-y: 0px;
$favourite-icon-width: 57px;
$favourite-icon-height: 49px;
$favourite-icon-total-width: 157px;
$favourite-icon-total-height: 134px;
$favourite-icon-image: 'sprite.png';
$favourite-icon: (60px, 0px, -60px, 0px, 57px, 49px, 157px, 134px, 'sprite.png', 'favouriteIcon', );
$friens-icon-name: 'friensIcon';
$friens-icon-x: 0px;
$friens-icon-y: 0px;
$friens-icon-offset-x: 0px;
$friens-icon-offset-y: 0px;
$friens-icon-width: 60px;
$friens-icon-height: 50px;
$friens-icon-total-width: 157px;
$friens-icon-total-height: 134px;
$friens-icon-image: 'sprite.png';
$friens-icon: (0px, 0px, 0px, 0px, 60px, 50px, 157px, 134px, 'sprite.png', 'friensIcon', );
$groups-name: 'groups';
$groups-x: 117px;
$groups-y: 0px;
$groups-offset-x: -117px;
$groups-offset-y: 0px;
$groups-width: 40px;
$groups-height: 40px;
$groups-total-width: 157px;
$groups-total-height: 134px;
$groups-image: 'sprite.png';
$groups: (117px, 0px, -117px, 0px, 40px, 40px, 157px, 134px, 'sprite.png', 'groups', );
$log-out-name: 'logOut';
$log-out-x: 0px;
$log-out-y: 50px;
$log-out-offset-x: 0px;
$log-out-offset-y: -50px;
$log-out-width: 40px;
$log-out-height: 44px;
$log-out-total-width: 157px;
$log-out-total-height: 134px;
$log-out-image: 'sprite.png';
$log-out: (0px, 50px, 0px, -50px, 40px, 44px, 157px, 134px, 'sprite.png', 'logOut', );
$recent-name: 'recent';
$recent-x: 117px;
$recent-y: 40px;
$recent-offset-x: -117px;
$recent-offset-y: -40px;
$recent-width: 40px;
$recent-height: 40px;
$recent-total-width: 157px;
$recent-total-height: 134px;
$recent-image: 'sprite.png';
$recent: (117px, 40px, -117px, -40px, 40px, 40px, 157px, 134px, 'sprite.png', 'recent', );
$settings-name: 'settings';
$settings-x: 0px;
$settings-y: 94px;
$settings-offset-x: 0px;
$settings-offset-y: -94px;
$settings-width: 40px;
$settings-height: 40px;
$settings-total-width: 157px;
$settings-total-height: 134px;
$settings-image: 'sprite.png';
$settings: (0px, 94px, 0px, -94px, 40px, 40px, 157px, 134px, 'sprite.png', 'settings', );
$spritesheet-width: 157px;
$spritesheet-height: 134px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($contacts, $favourite-icon, $friens-icon, $groups, $log-out, $recent, $settings, );
$spritesheet: (157px, 134px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('public/img/#{$sprite-image}');
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
